<?php

declare(strict_types=1);

return [
    'session' => [
        'key' => file_get_contents('/run/secrets/ftcbot-website-session-key'),
        'cookie_name' => 'slsession',
        'oauth_server_uri' => getenv('DISCORD_OAUTH_TOKEN_ISSUER'),
    ],
    'dependencies' => [
        'factories' => [
            App\Session\SessionMiddleware::class => App\Container\Session\SessionMiddlewareFactory::class,
            App\Middleware\UserMiddleware::class => App\Middleware\UserMiddlewareFactory::class,
        ]
    ],
];
